{
  "cache": false,
  "check-coverage": true,
  "sourceMap": true,
  "exclude": [
    "build.mjs",
    "coverage",
    "**/*.test.*"
  ],
  "reporter": [
    "html"
  ],
  "all": true,
  "instrument": true,
  "branches": 27,
  "lines": 34,
  "functions": 33,
  "statements": 34
}